  
        <!-- Navigation Bar Star -->
        <div class="sidebar" data-color="azure" data-background-color="azure" data-image="">
        
            <div class="logo">
                <a href="/" class="simple-text logo-normal">
                <img src="/././img/761cb97151d8c296e059e982795b6803.jpg" width="70%"  >
                </a>
            </div>

            <div class="sidebar-wrapper"  >
                <ul class="nav">
                    <li class="nav-item active">
                        <a class="nav-link" href="/">
                        <i class="material-icons">dashboard</i>
                        <p>Product Management</p>
                        </a>
                    </li>
                </ul>
            </div>          
        </div>
        <!-- Navigation Bar End -->

    
