{{>headernav}}
<div class="main-panel">
  {{>togglenav}}
<div class="content">
  <div class="container-fluid">
    <div class="row">     
      <div class="card">       
        <div class="card-header card-header-primary">         
          <h4 class="card-title ">
            <a href="/add_product"> <img src="/././img/add.png" width="20px"> </a>
             Add Product
            </h4>
        </div>
        <div class="card-body">
          <div class="table-responsive">
            <div class="tab-content">
              <div class="tab-pane active" id="profile">
                <table class="table table-hover">
                  <thead class="text-primary">
                    <th>
                      ID
                    </th>
                    <th>
                      Name
                    </th>
                    <th>
                      Category 
                    </th>
                    
                    <th>
                      Description
                    </th>
                    <th>
                      Price
                    </th>
                    <th>
                      Quantity
                    </th>
                    <th>
                      Image
                    </th>

                    <th>
                      Update
                    </th>
                    <th>
                      Delete
                    </th>
                  </thead>


                  <tbody>
                    <tr id="row">
                      <td>
                        1
                        
                      </td>
                      <td>
                        Tank model
                      </td>
                      <td>
                         model Toys
                      </td>
                      <td class="text-justify">
                        The hottest boy's favorite toy plastic tank this year
                      </td>
                      <td class="text-primary">
                        200
                      </td>
                      <td>
                        10
                      </td>
                      <td>
                        <img src="./uploads/4.jpg" alt="product image" width="100%">
                      </td>
                      <td>
                        <button type="button" rel="tooltip" title="" class="btn btn-primary btn-link btn-sm" data-original-title="Update">
                        <a href="/update_product/60e171186a61b25d108e0139"> <img src="/././img/1.png" width="20px"> </a>
                        <div class="ripple-container"></div></button>
                      </td>
                      <td>
                        <button type="button" rel="tooltip" title="" class="btn btn-danger btn-link btn-sm" onclick="return confirm('Are you sure to delete this record?');" data-original-title="Delete">
                          <a href="/delete_product/60e171186a61b25d108e0139"><img src="/././img/2.png" width="20px"> </a>
                        </button>
                      </td>
                    </tr>  
                    <tr id="row">
                      <td>
                        2
                        
                      </td>
                      <td>
                        Ship toy model
                      </td>
                      <td>
                        Model Toys
                      </td>
                      <td class="text-justify">
                        Toy model set of watercraft, rescue ship running underwater and spraying water
                      </td>
                      <td class="text-primary">
                        300
                      </td>
                      <td>
                        8
                      </td>
                      <td>
                        <img src="./uploads/5.jpg" alt="product image" width="100%">
                      </td>
                      <td>
                        <button type="button" rel="tooltip" title="" class="btn btn-primary btn-link btn-sm" data-original-title="Update">
                        <a href="/update_product/60e171e76a61b25d108e0145"> <img src="/././img/1.png" width="20px"> </a>
                        </button>
                      </td>
                      <td>
                        <button type="button" rel="tooltip" title="" class="btn btn-danger btn-link btn-sm" onclick="return confirm('Are you sure to delete this record?');" data-original-title="Delete" aria-describedby="tooltip698252">
                          <a href="/delete_product/60e171e76a61b25d108e0145"><img src="/././img/2.png" width="20px"> </a>
                        </button>
                      </td>
                    </tr>  
                    <tr id="row">
                      <td>
                        3
                        
                      </td>
                      <td>
                        Airplane model
                      </td>
                      <td>
                        Model Toys
                      </td>
                      <td class="text-justify">
                        Model Airbus A320 Vietjetair 1:200 scale
                      </td>
                      <td class="text-primary">
                        250
                      </td>
                      <td>
                        8
                      </td>
                      <td>
                        <img src="./uploads/6.jpg" alt="product image" width="100%">
                      </td>
                      <td>
                        <button type="button" rel="tooltip" title="" class="btn btn-primary btn-link btn-sm" data-original-title="Update">
                        <a href="/update_product/60e172846a61b25d108e0149"> <img src="/././img/1.png" width="20px"> </a>
                        </button>
                      </td>
                      <td>
                        <button type="button" rel="tooltip" title="" class="btn btn-danger btn-link btn-sm" onclick="return confirm('Are you sure to delete this record?');" data-original-title="Delete">
                          <a href="/delete_product/60e172846a61b25d108e0149"><img src="/././img/2.png" width="20px"> </a>
                        </button>
                      </td>
                    </tr>  
                    <tr id="row">
                      <td>
                        4
                        
                      </td>
                      <td>
                        Creative jigsaw puzzle
                      </td>
                      <td>
                        Model Toys
                      </td>
                      <td class="text-justify">
                        Creative puzzle set with 95 wooden details for export
                      </td>
                      <td class="text-primary">
                        150
                      </td>
                      <td>
                        6
                      </td>
                      <td>
                        <img src="./uploads/7.jpg" alt="product image" width="100%">
                      </td>
                      <td>
                        <button type="button" rel="tooltip" title="" class="btn btn-primary btn-link btn-sm" data-original-title="Update">
                        <a href="/update_product/60e173016a61b25d108e014d"> <img src="/././img/1.png" width="20px"> </a>
                        </button>
                      </td>
                      <td>
                        <button type="button" rel="tooltip" title="" class="btn btn-danger btn-link btn-sm" onclick="return confirm('Are you sure to delete this record?');" data-original-title="Delete">
                          <a href="/delete_product/60e173016a61b25d108e014d"><img src="/././img/2.png" width="20px"> </a>
                        </button>
                      </td>
                    </tr>  

                  </tbody>
                </table>
                
              </div>                                  
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
</div>


<!-- Content End -->


